In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Djambala,CG,2021-07-23 21:35:04,-2.5447,14.7533,73.44,48,75,5.57
1,1,Castro,BR,2021-07-23 21:35:04,-24.7911,-50.0119,54.68,77,0,3.31
2,2,Port Shepstone,ZA,2021-07-23 21:35:05,-30.7414,30.4550,53.94,62,51,15.95
3,3,Punta Arenas,CL,2021-07-23 21:35:05,-53.1500,-70.9167,37.51,87,40,17.27
4,4,Tasiilaq,GL,2021-07-23 21:33:22,65.6145,-37.6368,41.16,99,100,4.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps,dissipating=False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Guerrero Negro,MX,2021-07-23 21:35:07,27.9769,-114.0611,81.88,54,21,15.79
21,21,Kavaratti,IN,2021-07-23 21:35:09,10.5669,72.6420,81.70,82,93,21.63
27,27,Puerto Ayora,EC,2021-07-23 21:35:11,-0.7393,-90.3518,82.36,82,98,4.00
29,29,Victoria,HK,2021-07-23 21:31:19,22.2855,114.1577,86.38,86,74,1.01
32,32,Guajara,BR,2021-07-23 21:35:13,-2.9667,-57.6667,85.05,53,83,2.48
51,51,Fuerte Olimpo,PY,2021-07-23 21:35:18,-21.0415,-57.8738,81.21,26,0,5.82
54,54,Paracuru,BR,2021-07-23 21:31:02,-3.4100,-39.0306,80.62,77,10,13.89
59,59,Butaritari,KI,2021-07-23 21:34:33,3.0707,172.7902,83.57,74,43,15.41
62,62,Sahibganj,IN,2021-07-23 21:35:21,25.2500,87.6500,80.53,89,100,16.31
87,87,Bethel,US,2021-07-23 21:35:29,41.3712,-73.4140,81.19,54,40,1.99

In [13]:
preferred_cities_df.count()

City_ID       90
City          90
Country       90
Date          90
Lat           90
Lng           90
Max Temp      90
Humidity      90
Cloudiness    90
Wind Speed    90
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
10  Guerrero Negro      MX     81.88  27.9769 -114.0611
21       Kavaratti      IN     81.70  10.5669   72.6420
27    Puerto Ayora      EC     82.36  -0.7393  -90.3518
29        Victoria      HK     86.38  22.2855  114.1577
32         Guajara      BR     85.05  -2.9667  -57.6667
51   Fuerte Olimpo      PY     81.21 -21.0415  -57.8738
54        Paracuru      BR     80.62  -3.4100  -39.0306
59      Butaritari      KI     83.57   3.0707  172.7902
62       Sahibganj      IN     80.53  25.2500   87.6500
87          Bethel      US     81.19  41.3712  -73.4140

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Guerrero Negro,MX,81.88,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
21,Kavaratti,IN,81.70,10.5669,72.6420,Hotels in Lakshadweep Islands
27,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
29,Victoria,HK,86.38,22.2855,114.1577,Mini Hotel Central
32,Guajara,BR,85.05,-2.9667,-57.6667,
...,...,...,...,...,...,...
533,North Bend,US,83.25,43.4065,-124.2243,Red Lion Hotel Coos Bay
543,Keti Bandar,PK,83.03,24.1447,67.4497,Haji laloo memon house
547,Portobelo,PA,82.81,9.5500,-79.6500,Scuba Portobelo
548,Itupiranga,BR,80.92,-5.1347,-49.3267,Hotel Panorama
551,Coxim,BR,82.06,-18.5067,-54.7600,Hotel Avenida

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>Casa Laguna, Bed & Breakfast</dd>\n<dt>City</dt><dd>Guerrero Negro</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>81.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotels in Lakshadweep Islands</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>81.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Max Temp</dt><dd>82.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mini Hotel Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Max Temp</dt><dd>86.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Guajara</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>85.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospedaje DAMI</dd>\n<dt>City</dt><dd>Fuerte Olimpo</dd>\n<dt>Country</dt><dd>PY</dd>\n<dt>Max Temp</dt><dd>81.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Vento Brasil</dd>\n<dt>City</dt><dd>Paracuru</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>80.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Max Temp</dt><dd>83.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>hotel</dd>\n<dt>City</dt><dd>Sahibganj</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>80.53 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Courtyard by Marriott Danbury</dd>\n<dt>City</dt><dd>Bethel</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>81.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>80.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel la Favorita</dd>\n<dt>City</dt><dd>Mantua</dd>\n<dt>Country</dt><dd>IT</dd>\n<dt>Max Temp</dt><dd>80.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bayshore Resort</dd>\n<dt>City</dt><dd>Traverse City</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>83.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Max Temp</dt><dd>82.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sunset Lodge</dd>\n<dt>City</dt><dd>Escanaba</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>82.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Six Acres Bed & Breakfast</dd>\n<dt>City</dt><dd>Hamilton</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>87.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Thinadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Max Temp</dt><dd>82.74 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Max Temp</dt><dd>82.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Yankee Pedlar Inn</dd>\n<dt>City</dt><dd>Torrington</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>80.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Trois Étoiles de Biltine</dd>\n<dt>City</dt><dd>Biltine</dd>\n<dt>Country</dt><dd>TD</dd>\n<dt>Max Temp</dt><dd>82.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Seagulls Inn Namatani</dd>\n<dt>City</dt><dd>Namatanai</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Max Temp</dt><dd>81.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Posada Villaven C.A.</dd>\n<dt>City</dt><dd>San Cristobal</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Max Temp</dt><dd>86.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tateyama Seaside Hotel</dd>\n<dt>City</dt><dd>Tateyama</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Max Temp</dt><dd>84.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Guest Hotel</dd>\n<dt>City</dt><dd>Manggar</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>81.07 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Southern Beach Hotel & Resort Okinawa</dd>\n<dt>City</dt><dd>Itoman</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Max Temp</dt><dd>80.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SanBiz Lodge</dd>\n<dt>City</dt><dd>Kirakira</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Max Temp</dt><dd>82.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Minshuku Agaihama</dd>\n<dt>City</dt><dd>Nishihara</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Max Temp</dt><dd>80.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Narayan Avezika Comfort</dd>\n<dt>City</dt><dd>Dwarka</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>82.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nusa Island Retreat</dd>\n<dt>City</dt><dd>Kavieng</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Max Temp</dt><dd>82.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Defensa Civil del Seibo</dd>\n<dt>City</dt><dd>El Seibo</dd>\n<dt>Country</dt><dd>DO</dd>\n<dt>Max Temp</dt><dd>88.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Plus Winslow Inn</dd>\n<dt>City</dt><dd>Winslow</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>82.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albergo Fontana</dd>\n<dt>City</dt><dd>Pombia</dd>\n<dt>Country</dt><dd>IT</dd>\n<dt>Max Temp</dt><dd>80.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hampton Inn Elizabeth City</dd>\n<dt>City</dt><dd>Elizabeth City</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>86.05 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Marriott's Ko Olina Beach Club</dd>\n<dt>City</dt><dd>Makakilo City</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>82.72 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nag Aespen</dd>\n<dt>City</dt><dd>Matay</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Max Temp</dt><dd>82.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Sol Nascente - Ariquemes - RO</dd>\n<dt>City</dt><dd>Ariquemes</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>84.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Gataivai</dd>\n<dt>Country</dt><dd>WS</dd>\n<dt>Max Temp</dt><dd>85.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>BBB Rooms Centro Itacoatiara AM</dd>\n<dt>City</dt><dd>Itacoatiara</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>81.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Pantanal</dd>\n<dt>City</dt><dd>Porto Murtinho</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>81.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HS Hotsson Smart Acapulco</dd>\n<dt>City</dt><dd>Acapulco</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>85.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Florence Hotel Assiut</dd>\n<dt>City</dt><dd>Asyut</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Max Temp</dt><dd>87.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospedaje Eco</dd>\n<dt>City</dt><dd>Lagunas</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Max Temp</dt><dd>86.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ted McQuinn Trust</dd>\n<dt>City</dt><dd>Bud</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>87.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CASA AVALIADA</dd>\n<dt>City</dt><dd>Benjamin Constant</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>89.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maringe Lagoon Lodge</dd>\n<dt>City</dt><dd>Buala</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Max Temp</dt><dd>82.74 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Max Temp</dt><dd>81.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maui Seaside Hotel</dd>\n<dt>City</dt><dd>Kahului</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>84.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Divi Village Golf & Beach Resort</dd>\n<dt>City</dt><dd>Oranjestad</dd>\n<dt>Country</dt><dd>AW</dd>\n<dt>Max Temp</dt><dd>85.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Holiday Inn Express Walla Walla, an IHG Hotel</dd>\n<dt>City</dt><dd>Walla Walla</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>88.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fakhamat Al Orjoana Apartment</dd>\n<dt>City</dt><dd>Sakakah</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Max Temp</dt><dd>89.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Hotel</dd>\n<dt>City</dt><dd>Cairo</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Max Temp</dt><dd>81.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Heritage Park Hotel</dd>\n<dt>City</dt><dd>Honiara</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Max Temp</dt><dd>82.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ایزوگام آسیاگستردلیجان</dd>\n<dt>City</dt><dd>Delijan</dd>\n<dt>Country</dt><dd>IR</dd>\n<dt>Max Temp</dt><dd>88.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 1577 Hotel Shree Hari Grand</dd>\n<dt>City</dt><dd>Puri</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>83.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Via Norte Hotel</dd>\n<dt>City</dt><dd>Gurupi</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>80.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Otel restoran</dd>\n<dt>City</dt><dd>Neftcala</dd>\n<dt>Country</dt><dd>AZ</dd>\n<dt>Max Temp</dt><dd>80.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Embassy Suites by Hilton Portland Downtown</dd>\n<dt>City</dt><dd>Portland</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>86.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Adhi Residency</dd>\n<dt>City</dt><dd>Kanchipuram</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>83.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Uruna Bay Retreat</dd>\n<dt>City</dt><dd>Kieta</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Max Temp</dt><dd>82.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Laoyutang Resort</dd>\n<dt>City</dt><dd>Hami</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Max Temp</dt><dd>86.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Auberge Beelel Jeeri</dd>\n<dt>City</dt><dd>Matam</dd>\n<dt>Country</dt><dd>SN</dd>\n<dt>Max Temp</dt><dd>89.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gulisitan Hotel</dd>\n<dt>City</dt><dd>Korla</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Max Temp</dt><dd>83.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Josilene Castro</dd>\n<dt>City</dt><dd>Alenquer</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>86.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Katsuura Hotel Mikazuki</dd>\n<dt>City</dt><dd>Katsuura</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Max Temp</dt><dd>84.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maynard Lake Lodge</dd>\n<dt>City</dt><dd>Kenora</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Max Temp</dt><dd>81.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilton Garden Inn Jonesboro</dd>\n<dt>City</dt><dd>Jonesboro</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>89.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aviador Hotel Boutique</dd>\n<dt>City</dt><dd>Santa Cruz</dd>\n<dt>Country</dt><dd>BO</dd>\n<dt>Max Temp</dt><dd>85.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Campos</dd>\n<dt>City</dt><dd>Itaituba</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>89.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casita Bed and Grill</dd>\n<dt>City</dt><dd>Suba</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>83.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sulthan Hotel International</dd>\n<dt>City</dt><dd>Banda Aceh</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>80.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Dafam Bela Ternate</dd>\n<dt>City</dt><dd>Ternate</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>81.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tarawa Boutique Hotel</dd>\n<dt>City</dt><dd>Bairiki</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Max Temp</dt><dd>86.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Puro</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>81.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Osprey Beach Hotel</dd>\n<dt>City</dt><dd>Cockburn Town</dd>\n<dt>Country</dt><dd>TC</dd>\n<dt>Max Temp</dt><dd>85.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Chongqing Jiangjin Hotel</dd>\n<dt>City</dt><dd>Jijiang</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Max Temp</dt><dd>86.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Las Casitas Santa Rosalia</dd>\n<dt>City</dt><dd>Santa Rosalia</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>89.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Orchid Main Camp Goubet</dd>\n<dt>City</dt><dd>Jibuti</dd>\n<dt>Country</dt><dd>DJ</dd>\n<dt>Max Temp</dt><dd>87.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Max Temp</dt><dd>83.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Seattle Marriott Redmond</dd>\n<dt>City</dt><dd>Redmond</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>84.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Toledo</dd>\n<dt>City</dt><dd>Tagusao</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>81.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OlusHome</dd>\n<dt>City</dt><dd>Gat</dd>\n<dt>Country</dt><dd>IL</dd>\n<dt>Max Temp</dt><dd>81.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Rocking Horse Inn</dd>\n<dt>City</dt><dd>Portage</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>81.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ibis La Ciotat</dd>\n<dt>City</dt><dd>La Ciotat</dd>\n<dt>Country</dt><dd>FR</dd>\n<dt>Max Temp</dt><dd>80.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Storyboard Beach Resort</dd>\n<dt>City</dt><dd>Kloulklubed</dd>\n<dt>Country</dt><dd>PW</dd>\n<dt>Max Temp</dt><dd>85.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>فندق الدويم</dd>\n<dt>City</dt><dd>Sawakin</dd>\n<dt>Country</dt><dd>SD</dd>\n<dt>Max Temp</dt><dd>89.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Red Lion Hotel Coos Bay</dd>\n<dt>City</dt><dd>North Bend</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>83.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Haji laloo memon house</dd>\n<dt>City</dt><dd>Keti Bandar</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Max Temp</dt><dd>83.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scuba Portobelo</dd>\n<dt>City</dt><dd>Portobelo</dd>\n<dt>Country</dt><dd>PA</dd>\n<dt>Max Temp</dt><dd>82.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Panorama</dd>\n<dt>City</dt><dd>Itupiranga</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>80.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Avenida</dd>\n<dt>City</dt><dd>Coxim</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>82.06 °F</dd>\n</dl>\n']

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))