## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Kaolack,IN,84.49,broken clouds,14.1825,-16.2533,NaN
1,6,Pemberton,IN,87.49,scattered clouds,50.3164,-122.8027,Pemberton Valley Lodge
2,11,Praia Da Vitoria,IN,75.45,few clouds,38.7333,-27.0667,Hotel Branco I
3,20,Albany,IN,80.02,overcast clouds,42.6001,-73.9662,NaN
4,22,Santa Cruz,IN,82.45,clear sky,-17.8000,-63.1667,Aviador Hotel Boutique
5,23,Iwaki,IN,81.01,clear sky,37.0500,140.8833,Toyoko Inn Iwaki Ekimae
6,24,Kavaratti,IN,82.08,broken clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
7,26,Ransang,IN,81.37,overcast clouds,8.9603,117.5828,Black and Crystal Sand Campsite
8,29,Hithadhoo,IN,81.75,scattered clouds,-0.6000,73.0833,Scoop Guest House
9,36,Atuona,IN,78.67,scattered clouds,-9.8000,-139.0333,Villa Enata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [4]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== 'Lewistown']
vacation_end = vacation_df.loc[vacation_df["City"]== 'Lewistown']
vacation_stop1 = vacation_df.loc[vacation_df["City"]== 'Albany']
vacation_stop2 = vacation_df.loc[vacation_df["City"]== 'Westport'] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== 'Palatka'] 

vacation_stop3

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
242,697,Palatka,IN,87.35,scattered clouds,29.6486,-81.6376,Holiday Inn Express & Suites Palatka Northwest...

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start= vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]

end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

stop1

array([42.6001, -73.9662], dtype=object)

In [27]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
waypoints=[stop1,stop2,stop3]
roadtrip=gmaps.directions_layer(start, end, waypoints=waypoints,
travel_mode= 'DRIVING')
fig.add_layer(roadtrip)


fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df= pd.concat([vacation_start,vacation_stop1,vacation_stop2, vacation_stop3],ignore_index=True)

itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,682,Lewistown,IN,80.78,broken clouds,40.5992,-77.5714,Quality Inn & Suites
1,20,Albany,IN,80.02,overcast clouds,42.6001,-73.9662,NaN
2,144,Westport,IN,80.62,clear sky,41.1415,-73.3579,The Westport Inn
3,697,Palatka,IN,87.35,scattered clouds,29.6486,-81.6376,Holiday Inn Express & Suites Palatka Northwest...

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_content = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(roadtrip)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))